#animations-01 {
  .square {
    width: 50px;
    padding: 50px;
    aspect-ratio: 1/1;
    background-color: red;
    // animation-name: rotation 5s linear infinite;
    animation-name: rotation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }
}

#animations-02 {
  .square {
    position: relative;
    width: 50px;
    padding: 50px;
    aspect-ratio: 1/1;
    background-color: rgb(165, 115, 39);
    // animation-name: rotation 5s linear infinite;
    animation-name: path;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes path {
    0% {
      top: 0px;
      left: 0px;
      background-color: rgb(165, 115, 39);
    }

    25% {
      top: 0px;
      left: 350px;
      background-color: rgb(85, 62, 27);
    }

    50% {
      top: 0px;
      left: 0%;
      background-color: brown;
    }

    75% {
      background-color: orange;
      top: 100px;
      left: 0%;
    }

    100% {
      background-color: rgb(165, 115, 39);
      top: 0px;
      left: 0%;
    }
  }
}
