.pink-square {
  background-color: rgb(209, 142, 170);
  color: rgb(43, 43, 108);
  width: 90px;
  border: 1px solid;
  padding: 30px 20px;
}

.blue-box {
  background-color: rgb(43, 43, 108);
  color: rgb(209, 142, 170);
}
