#mediaqueries-01 {
  h1 {
    text-align: left;
    font-size: 30px;
    margin: 0px;
  }
  h2 {
    text-align: left;
    font-weight: 100;
    margin: 0px;
  }
  .line {
    width: 5px;
    height: 30px;
    background-color: red;
    margin: 0px 10px 0px -12px;
  }
  .container {
    display: flex;
  }

  @media (max-width: 800px) {
    .line {
      display: none;
    }
    h1 {
      display: block;
      padding-left: 0px;
      position: relative;
      left: -12px;
      font-size: 25px;
    }
    h2 {
      font-size: 10px;
    }
  }
}

#mediaqueries-02 {
  .box {
    background-color: rgb(123, 219, 226);
    border: solid 1px rgb(47, 47, 135);
    padding: 10px 50px 10px 20px;
    color: rgb(47, 47, 135);
  }
  .container {
    display: flex;
  }

  .box {
    align-items: stretch;
    flex-grow: 1;
  }

  @media (max-width: 800px) {
    .container {
      display: block;
    }
  }
}

#mediaqueries-03 {
  .container {
    width: 200px;
    margin: 0 auto;
    display: flex;
  }

  .menu {
    justify-content: flex-end;
  }

  .links {
    justify-content: space-between;
  }

  .links a {
    text-decoration: none;
  }

  @media (max-width: 800px) {
    .links {
      display: none;
    }
  }

  @media (min-width: 800px) {
    .menu {
      display: none;
    }
  }
}
