/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  font-family: Lato, sans-serif;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  margin: 2em 0;
}

h2 {
  margin: 1.5em 0;
}

h3 {
  margin: 1em 0;
}

/* ====================================
// base rules
// ==================================== */
